<ul class="main-navigation nav hidden-tablet hidden-sm hidden-xs">
    <li class=" megamenu_lv1  ss_megamenu_drop width-custom active ">
        <%= link_to '<span class="megamenu_title">Trang Chủ</span>'.html_safe, erp_quangminh.root_path, title: '' %>
    </li>
    <li class=" megamenu_lv1  ss_megamenu_drop width-custom ">
        <a href="<%= erp_quangminh.product_listing_path %>" title="">
            <!--<span class="ss_megamenu_icon mega-hot">hot</span>-->
            <span class="megamenu_title">Phòng Khách</span>
        </a>
        <div class="ss_megamenu_dropdown megamenu_dropdown width-custom left  mega_class wrap-product" style="width:783px;margin-left: -48px !important;">
            <div class="row">
                <div class="ss_megamenu_col col_menu col-md-3">
                    <div class="ss_inner">
                        <div class="row">
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Bàn Tiếp Khách', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Salon - Sofa Gỗ', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Tủ - Kệ Tivi', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Tủ Rượu', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Tủ Cá Nhân', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Tủ - Kệ Giầy', '', title: '' %>
                                    </li>
                                </ul>
                            </div>                                            
                        </div>
                    </div>
                </div>
                <div class="ss_megamenu_col col_product col-md-9 col-sm-9">
                    <div class="ss_product_mega">
                        <div class="ss_product_content row">
                            <div class="ss_inner">
                                <% (0..1).each do |product| %>
                                    <div class="ss_megamenu_col product_col_1 col-md-6">
                                        <div class="product-item">
                                            <div class="product-item-container   ">
                                                <div class="left-block">
                                                    <div class="product-image-container product-image">
                                                        <%= link_to image_tag('/quangminh/img/products/product-large.jpg', class: 'img-responsive', alt: ''),
                                                                    '', title: '', class: 'grid-view-item__link image-ajax' %>
                                                    </div>
                                                    <div class="box-label">
                                                        <span class="label-product label-new">new</span>
                                                        <span class="label-product label-sale">
                                                            <span class="hidden">Sale</span> -25%
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="caption">
                                                        <h4 class="title-product">
                                                            <%= link_to 'Donec vel venen mauris', '', title: '', class: 'product-name' %>
                                                        </h4>
                                                        <div class="price">
                                                            <!-- snippet/product-price.liquid -->
                                                            <span class="visually-hidden">Regular price</span>
                                                            <span class="price-new">
                                                                <span class='money'>$120.00</span>
                                                            </span>
                                                            <span class="price-old">
                                                                <span class='money'>$160.00</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="button-link">
                                                    <div class="quickview-button hidden-md hidden-sm hidden-xs ">
                                                        <a class="quickview iframe-link visible-lg btn_df" href="javascript:void(0)" title="Quick View">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                    <div class="btn-button add-to-cart action  ">
                                                        <form class="variants">
                                                            <input type="hidden" name="id"/>
                                                            <a class="btn-addToCart grl btn_df" href="" title="Add to cart">
                                                                <i class="fa fa-shopping-basket hidden"></i>
                                                                <span>Add to cart</span>
                                                            </a>
                                                        </form>
                                                    </div>
                                                    <div class="product-addto-links">
                                                        <a class="btn btn_df btnProduct" href="" title="Add to wishlist">
                                                            <i class="fa fa-heart"></i>
                                                            <span class="hidden">Add to wishlist</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class=" megamenu_lv1  ss_megamenu_drop width-custom ">
        <a href="" title="">
            <span class="ss_megamenu_icon mega-hot">hot</span>
            <span class="megamenu_title">Nhà Bếp</span>
        </a>
        <div class="ss_megamenu_dropdown megamenu_dropdown width-custom left  mega_class wrap-product" style="width:783px;margin-left: -178px !important;">
            <div class="row">
                <div class="ss_megamenu_col col_menu col-md-3">
                    <div class="ss_inner">
                        <div class="row">
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Clocks', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Decorative shelving', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Desktop', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Dividers & Screens', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Fireplace', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Glassware & Ceramic', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">                                                    
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Mirrors', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ss_megamenu_col col_product col-md-9 col-sm-9">
                    <div class="ss_product_mega">
                        <div class="ss_product_content row">
                            <div class="ss_inner">
                                <% (0..1).each do |product| %>
                                    <div class="ss_megamenu_col product_col_1 col-md-6">
                                        <div class="product-item">
                                            <div class="product-item-container   ">
                                                <div class="left-block">
                                                    <div class="product-image-container product-image">
                                                        <%= link_to image_tag('/quangminh/img/products/product-large.jpg', class: 'img-responsive', alt: ''),
                                                                    '', title: '', class: 'grid-view-item__link image-ajax' %>
                                                    </div>
                                                    <div class="box-label">
                                                        <span class="label-product label-new">new</span>
                                                        <span class="label-product label-sale">
                                                            <span class="hidden">Sale</span> -25%
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="caption">
                                                        <h4 class="title-product">
                                                            <%= link_to 'Donec vel venen mauris', '', title: '', class: 'product-name' %>
                                                        </h4>
                                                        <div class="price">
                                                            <!-- snippet/product-price.liquid -->
                                                            <span class="visually-hidden">Regular price</span>
                                                            <span class="price-new">
                                                                <span class='money'>$120.00</span>
                                                            </span>
                                                            <span class="price-old">
                                                                <span class='money'>$160.00</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="button-link">
                                                    <div class="quickview-button hidden-md hidden-sm hidden-xs ">
                                                        <a class="quickview iframe-link visible-lg btn_df" href="javascript:void(0)" title="Quick View">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                    <div class="btn-button add-to-cart action  ">
                                                        <form class="variants">
                                                            <input type="hidden" name="id"/>
                                                            <a class="btn-addToCart grl btn_df" href="" title="Add to cart">
                                                                <i class="fa fa-shopping-basket hidden"></i>
                                                                <span>Add to cart</span>
                                                            </a>
                                                        </form>
                                                    </div>
                                                    <div class="product-addto-links">
                                                        <a class="btn btn_df btnProduct" href="" title="Add to wishlist">
                                                            <i class="fa fa-heart"></i>
                                                            <span class="hidden">Add to wishlist</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class=" megamenu_lv1  ss_megamenu_drop width-custom ">
        <a href="" title="">
            <span class="ss_megamenu_icon mega-hot">hot</span>
            <span class="megamenu_title">Phòng Ngủ</span>
        </a>
        <div class="ss_megamenu_dropdown megamenu_dropdown width-custom left  mega_class wrap-product" style="width:783px;margin-left: -261px !important;">
            <div class="row">
                <div class="ss_megamenu_col col_menu col-md-3">
                    <div class="ss_inner">
                        <div class="row">
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Clocks', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Decorative shelving', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Desktop', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Dividers & Screens', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Fireplace', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Glassware & Ceramic', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">                                                    
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Mirrors', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ss_megamenu_col col_product col-md-9 col-sm-9">
                    <div class="ss_product_mega">
                        <div class="ss_product_content row">
                            <div class="ss_inner">
                                <% (0..1).each do |product| %>
                                    <div class="ss_megamenu_col product_col_1 col-md-6">
                                        <div class="product-item">
                                            <div class="product-item-container   ">
                                                <div class="left-block">
                                                    <div class="product-image-container product-image">
                                                        <%= link_to image_tag('/quangminh/img/products/product-large.jpg', class: 'img-responsive', alt: ''),
                                                                    '', title: '', class: 'grid-view-item__link image-ajax' %>
                                                    </div>
                                                    <div class="box-label">
                                                        <span class="label-product label-new">new</span>
                                                        <span class="label-product label-sale">
                                                            <span class="hidden">Sale</span> -25%
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="caption">
                                                        <h4 class="title-product">
                                                            <%= link_to 'Donec vel venen mauris', '', title: '', class: 'product-name' %>
                                                        </h4>
                                                        <div class="price">
                                                            <!-- snippet/product-price.liquid -->
                                                            <span class="visually-hidden">Regular price</span>
                                                            <span class="price-new">
                                                                <span class='money'>$120.00</span>
                                                            </span>
                                                            <span class="price-old">
                                                                <span class='money'>$160.00</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="button-link">
                                                    <div class="quickview-button hidden-md hidden-sm hidden-xs ">
                                                        <a class="quickview iframe-link visible-lg btn_df" href="javascript:void(0)" title="Quick View">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                    <div class="btn-button add-to-cart action  ">
                                                        <form class="variants">
                                                            <input type="hidden" name="id"/>
                                                            <a class="btn-addToCart grl btn_df" href="" title="Add to cart">
                                                                <i class="fa fa-shopping-basket hidden"></i>
                                                                <span>Add to cart</span>
                                                            </a>
                                                        </form>
                                                    </div>
                                                    <div class="product-addto-links">
                                                        <a class="btn btn_df btnProduct" href="" title="Add to wishlist">
                                                            <i class="fa fa-heart"></i>
                                                            <span class="hidden">Add to wishlist</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class=" megamenu_lv1  ss_megamenu_drop width-custom ">
        <a href="" title="">
            <span class="ss_megamenu_icon mega-hot">hot</span>
            <span class="megamenu_title">Phòng Thờ</span>
        </a>
        <div class="ss_megamenu_dropdown megamenu_dropdown width-custom left  mega_class wrap-product" style="width:783px;margin-left: -372px !important;">
            <div class="row">
                <div class="ss_megamenu_col col_menu col-md-3">
                    <div class="ss_inner">
                        <div class="row">
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Clocks', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Decorative shelving', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Desktop', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Dividers & Screens', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Fireplace', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Glassware & Ceramic', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                            <div class="ss_megamenu_col col-md-12">
                                <ul class="menulink">                                                    
                                    <li class="megamenu_lv2 megatitle">
                                        <%= link_to 'Mirrors', '', title: '' %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ss_megamenu_col col_product col-md-9 col-sm-9">
                    <div class="ss_product_mega">
                        <div class="ss_product_content row">
                            <div class="ss_inner">
                                <% (0..1).each do |product| %>
                                    <div class="ss_megamenu_col product_col_1 col-md-6">
                                        <div class="product-item">
                                            <div class="product-item-container   ">
                                                <div class="left-block">
                                                    <div class="product-image-container product-image">
                                                        <%= link_to image_tag('/quangminh/img/products/product-large.jpg', class: 'img-responsive', alt: ''),
                                                                    '', title: '', class: 'grid-view-item__link image-ajax' %>
                                                    </div>
                                                    <div class="box-label">
                                                        <span class="label-product label-new">new</span>
                                                        <span class="label-product label-sale">
                                                            <span class="hidden">Sale</span> -25%
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="caption">
                                                        <h4 class="title-product">
                                                            <%= link_to 'Donec vel venen mauris', '', title: '', class: 'product-name' %>
                                                        </h4>
                                                        <div class="price">
                                                            <!-- snippet/product-price.liquid -->
                                                            <span class="visually-hidden">Regular price</span>
                                                            <span class="price-new">
                                                                <span class='money'>$120.00</span>
                                                            </span>
                                                            <span class="price-old">
                                                                <span class='money'>$160.00</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="button-link">
                                                    <div class="quickview-button hidden-md hidden-sm hidden-xs ">
                                                        <a class="quickview iframe-link visible-lg btn_df" href="javascript:void(0)" title="Quick View">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                    <div class="btn-button add-to-cart action  ">
                                                        <form class="variants">
                                                            <input type="hidden" name="id"/>
                                                            <a class="btn-addToCart grl btn_df" href="" title="Add to cart">
                                                                <i class="fa fa-shopping-basket hidden"></i>
                                                                <span>Add to cart</span>
                                                            </a>
                                                        </form>
                                                    </div>
                                                    <div class="product-addto-links">
                                                        <a class="btn btn_df btnProduct" href="" title="Add to wishlist">
                                                            <i class="fa fa-heart"></i>
                                                            <span class="hidden">Add to wishlist</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="megamenu_lv1 ">
        <%= link_to '<span class="megamenu_title">Tư Vấn & Thiết Kế</span>'.html_safe, '', title: '' %>
    </li>
</ul>