<div class="container">
    <div class="widget-blogs">
        <div class="widget-head">
            <div class="home-title">
                <h2>Bài Viết Mới Nhất</h2>
            </div>
        </div>
        <div class="widget-content">
            <div class="blog-item first blog-item-1">
                <div class="blog-info  ">
                    <div class="blog-image ">
                        <a href="">
                            <%= image_tag '/quangminh/img/blog/blog-01.jpg', alt: '', class: 'img-responsive' %>
                            <div class="date hidden">
                                <span class="day">25</span>
                                <span class="month">Dec</span>
                                <span class="year hidden">2017</span>
                            </div>
                        </a>
                    </div>
                    <div class="blog-detail ">
                        <h3 class="blog-title">
                            <%= link_to 'Phân biệt gỗ công nghiệp', '', title: '' %>
                        </h3>
                        <div class="des text-justify">
                            <p>Gỗ công nghiệp là gì? Gỗ công nghiệp là gì? Trong quá trình tư vấn, triển khai thực hiện, chúng tôi đã nhận được rất nhiều câu hỏi thắc mắc liên quan đến gỗ công nghiệp như: Gỗ công...</p>
                        </div>
                        <%= link_to 'Read more <i class="fa fa-angle-double-right"></i>'.html_safe, '', title: '', class: 'read-more hidden' %>
                    </div>
                </div>
            </div>
            <div class="blog-item  blog-item-2">
                <div class="blog-info  ">
                    <div class="blog-image ">
                        <a href="">
                            <%= image_tag '/quangminh/img/blog/blog-02.jpg', alt: '', class: 'img-responsive' %>
                            <div class="date hidden">
                                <span class="day">25</span>
                                <span class="month">Dec</span>
                                <span class="year hidden">2017</span>
                            </div>
                        </a>
                    </div>
                    <div class="blog-detail ">
                        <h3 class="blog-title">
                            <%= link_to 'Phân biệt gỗ công nghiệp', '', title: '' %>
                        </h3>
                        <div class="des text-justify">
                            <p>Gỗ công nghiệp là gì? Gỗ công nghiệp là gì? Trong quá trình tư vấn, triển khai thực hiện...</p>
                        </div>
                        <%= link_to 'Read more <i class="fa fa-angle-double-right"></i>'.html_safe, '', title: '', class: 'read-more hidden' %>
                    </div>
                </div>
            </div>
            <div class="blog-item  blog-item-3">
                <div class="blog-detail">
                    <h3 class="blog-title">
                        <%= link_to 'Phân biệt gỗ công nghiệp', '', title: '' %>
                    </h3>
                    <div class="des text-justify">
                        <p>Gỗ công nghiệp là gì? Gỗ công nghiệp là gì? Trong quá trình tư vấn, triển khai thực hiện...</p>
                    </div>
                    <%= link_to 'Read more <i class="fa fa-angle-double-right"></i>'.html_safe, '', title: '', class: 'read-more hidden' %>
                </div>
                <div class="blog-info">
                    <div class="blog-image">
                        <a href="">
                            <%= image_tag '/quangminh/img/blog/blog-03.jpg', alt: '', class: 'img-responsive' %>
                            <div class="date hidden">
                                <span class="day">25</span>
                                <span class="month">Dec</span>
                                <span class="year hidden">2017</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="blog-item  blog-item-4">
                <div class="blog-info  row">
                    <div class="blog-image col-xs-6 full-xs">
                        <a href="">
                            <%= image_tag '/quangminh/img/blog/blog-04.jpg', alt: '', class: 'img-responsive' %>
                            <div class="date hidden">
                                <span class="day">20</span>
                                <span class="month">Dec</span>
                                <span class="year hidden">2017</span>
                            </div>
                        </a>
                    </div>
                    <div class="blog-detail col-xs-6 full-xs">
                        <h3 class="blog-title">
                            <%= link_to 'Phân biệt gỗ công nghiệp', '', title: '' %>
                        </h3>
                        <div class="des text-justify">
                            <p>Gỗ công nghiệp là gì? Gỗ công nghiệp là gì? Trong quá trình tư vấn, triển khai thực hiện...</p>
                        </div>
                        <%= link_to 'Read more <i class="fa fa-angle-double-right"></i>'.html_safe, '', title: '', class: 'read-more hidden' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>