<%= javascript_include_tag '/quangminh/js/jquery.tmpl.min.js' %>
<%= javascript_include_tag '/quangminh/js/tools.js' %>
<div id="so-groups" class="right so-groups-sticky hidden-md hidden-sm hidden-xs" style="top: 100px">
    <a class="sticky-categories" data-target="popup" data-popup="#popup-mycategory">
        <span>Danh mục ưa thích</span>
        <i class="fa fa-align-justify"></i>
    </a>
    <a class="sticky-mycart" data-target="popup" data-popup="#popup-mycart">
        <span>Giỏ hàng</span>
        <i class="fa fa-shopping-cart"></i>
    </a>
    <a class="sticky-myaccount" data-target="popup" data-popup="#popup-myaccount">
        <span>Tài Khoản</span>
        <i class="fa fa-user-o"></i>
    </a>
    <a class="sticky-mysearch" data-target="popup" data-popup="#popup-mysearch">
        <span>Tìm kiếm</span>
        <i class="fa fa-search"></i>
    </a>
    <%= render "erp/quangminh/frontend/modules/popup/my_category" %>
    <%= render "erp/quangminh/frontend/modules/popup/my_cart" %>
    <%= render "erp/quangminh/frontend/modules/popup/my_account" %>
    <%= render "erp/quangminh/frontend/modules/popup/my_search" %>
</div>