<section id="breadcrumbs" class="breadcrumbbgimage" style="background: url(/quangminh/img/bg_breadcrumb.png)">
    <div class="breadcrumbwrapper">
        <div class="container">
            <div class="breadcrumbtitle"><h1><%= @product.full_name %></h1></div>
            <nav>
                <ol class="breadcrumb">
                    <li><%= link_to '<span>Trang Chủ</span>'.html_safe, erp_quangminh.root_path, title: 'Quay về trang chủ' %></li>
                    <li><%= link_to '<span>'.html_safe + @category.get_self_name + '</span>'.html_safe,
									erp_quangminh.root_path, title: @category.get_self_name %></li>
                    <li class="active"><span><span><%= @product.full_name %></span></span></li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="shopify-section col-xs-12 col-md-3 hidden-sm sidebar-product">
            <%= render "erp/quangminh/frontend/modules/product/sidebar" %>
        </div>
        <div class="shopify-section col-xs-12 main-product">
            <div class="product-template__container product">
                <div class="product-single ">
                    <div class="product-single-bg spaceBlock">
                        <div class="row">
                            <div class=" col-lg-5 col-md-6 col-sm-12 product-img-box product-single__image grid__item product-single__photos ">
                                <div class="large-image product-single__photo product-single__photo--has-thumbnails">
                                    <a href="/quangminh/img/products/main-detail-img.jpg" title="">
                                        <img id="product-featured-image" src="/quangminh/img/products/main-detail-img.jpg" alt="" data-zoom-image="/quangminh/img/products/main-detail-img.jpg" class="product-featured-img   zoom_scroll    " />
                                    </a>
                                </div>
                                <div class="thumbnails-slide thumbnails-wrapper">
                                    <div id="thumb-slider" class="owl-carousel ">
                                        <a class="thumbnail" data-image-zoom="//cdn.shopify.com/s/files/1/2660/9830/products/8_d6d9a7f7-d92b-49d0-bf3f-8d8767d9cb20_1024x1024.jpg?v=1513931798" data-index=" 0" data-image="//cdn.shopify.com/s/files/1/2660/9830/products/8_d6d9a7f7-d92b-49d0-bf3f-8d8767d9cb20_1024x1024.jpg?v=1513931798">
                                            <img class="product-single__thumbnail-image" src="//cdn.shopify.com/s/files/1/2660/9830/products/8_d6d9a7f7-d92b-49d0-bf3f-8d8767d9cb20_110x110_crop_center.jpg?v=1513931798" alt="Boudin tenderloin">
                                        </a>
                                        <a class="thumbnail" data-image-zoom="//cdn.shopify.com/s/files/1/2660/9830/products/9_d6ed7f58-99b7-4c05-8570-ced07ff6e71e_1024x1024.jpg?v=1513931799" data-index=" 1" data-image="//cdn.shopify.com/s/files/1/2660/9830/products/9_d6ed7f58-99b7-4c05-8570-ced07ff6e71e_1024x1024.jpg?v=1513931799">
                                            <img class="product-single__thumbnail-image" src="//cdn.shopify.com/s/files/1/2660/9830/products/9_d6ed7f58-99b7-4c05-8570-ced07ff6e71e_110x110_crop_center.jpg?v=1513931799" alt="Boudin tenderloin">
                                        </a>
                                        <a class="thumbnail" data-image-zoom="//cdn.shopify.com/s/files/1/2660/9830/products/11_b52a839b-7e7f-4ef5-b2ed-9d9f192613af_1024x1024.jpg?v=1513931800" data-index=" 2" data-image="//cdn.shopify.com/s/files/1/2660/9830/products/11_b52a839b-7e7f-4ef5-b2ed-9d9f192613af_1024x1024.jpg?v=1513931800">
                                            <img class="product-single__thumbnail-image" src="//cdn.shopify.com/s/files/1/2660/9830/products/11_b52a839b-7e7f-4ef5-b2ed-9d9f192613af_110x110_crop_center.jpg?v=1513931800" alt="Boudin tenderloin">
                                        </a>
                                        <a class="thumbnail" data-image-zoom="//cdn.shopify.com/s/files/1/2660/9830/products/13_49c986b7-6030-4d9c-873d-b60c49db9e2d_1024x1024.jpg?v=1513931800" data-index=" 3" data-image="//cdn.shopify.com/s/files/1/2660/9830/products/13_49c986b7-6030-4d9c-873d-b60c49db9e2d_1024x1024.jpg?v=1513931800">
                                            <img class="product-single__thumbnail-image" src="//cdn.shopify.com/s/files/1/2660/9830/products/13_49c986b7-6030-4d9c-873d-b60c49db9e2d_110x110_crop_center.jpg?v=1513931800" alt="Boudin tenderloin">
                                        </a>
                                        <a class="thumbnail" data-image-zoom="//cdn.shopify.com/s/files/1/2660/9830/products/14_669db19c-f113-4b86-8093-3c6c6b2286e9_1024x1024.jpg?v=1513931801" data-index=" 4" data-image="//cdn.shopify.com/s/files/1/2660/9830/products/14_669db19c-f113-4b86-8093-3c6c6b2286e9_1024x1024.jpg?v=1513931801">
                                            <img class="product-single__thumbnail-image" src="//cdn.shopify.com/s/files/1/2660/9830/products/14_669db19c-f113-4b86-8093-3c6c6b2286e9_110x110_crop_center.jpg?v=1513931801" alt="Boudin tenderloin">
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                            <div class=" col-lg-7 col-md-6 col-sm-12 product-single__detail grid__item ">
                                <div class="product-single__meta">
                                    <h2 class="product-single__title"><%= @product.full_name %></h2>
                                    <div class="product-info">
                                        <p class="product-single__alb instock">
											<label>Trạng thái: </label>
											<i class="fa fa-check-square-o"></i> Đang có hàng
										</p>
                                        <p class="product-single__vendor">
											<label>Thương hiệu: </label>
											<%= link_to @product.product_brand_name, erp_quangminh.root_path, title: @product.product_brand_name %>
										</p>
                                    </div>
                                    <div class="clearfix product-price">
                                        <p class="price-box product-single__price-product-template">
                                            <span class="special-price product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                                <spa>
                                                    <span class='money'>12.500.000 VNĐ</span>
                                                </span>
                                            </span>
                                            <span class="visually-hidden">Giá: </span>
                                            <s class="old-price" ><span class='money'>12.000.000 VNĐ</span></s>
                                        </p>
                                    </div>
                                    <div class="product-single__description short">
                                        <label>Mô tả: </label>
										<p class="text-justify">Curabitur egestas malesuada volutpat. Nunc vel vestibulum odio, ac pellentesque lacus. Pellentesque dapibus nunc nec est imperdiet, a malesuada sem rutrum. Sed quam odio, porta a finibus quis,...</p>
									</div>
                                    <div class="social_share_detail clearfix">
                                        <label class="">Chia sẽ trang:</label>
                                        <div class="social-sharing">
                                            <a target="_blank" href="//www.facebook.com/sharer.php?u=https://ss-furnicom.myshopify.com/products/boudin-tenderloin" class=" btn--small btn--secondary btn--share share-facebook" title="Share on Facebook">
                                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook" viewBox="0 0 20 20">
                                                    <path fill="#444" d="M18.05.811q.439 0 .744.305t.305.744v16.637q0 .439-.305.744t-.744.305h-4.732v-7.221h2.415l.342-2.854h-2.757v-1.83q0-.659.293-1t1.073-.342h1.488V3.762q-.976-.098-2.171-.098-1.634 0-2.635.964t-1 2.72V9.47H7.951v2.854h2.415v7.221H1.413q-.439 0-.744-.305t-.305-.744V1.859q0-.439.305-.744T1.413.81H18.05z" /></svg>
                                                <span class="share-title hidden" aria-hidden="true">Share</span>
                                                <span class="visually- hidden">Share on Facebook</span>
                                            </a>
                                            <a target="_blank" href="//pinterest.com/pin/create/button/?url=https://ss-furnicom.myshopify.com/products/boudin-tenderloin&amp;media=//cdn.shopify.com/s/files/1/2660/9830/products/8_d6d9a7f7-d92b-49d0-bf3f-8d8767d9cb20_1024x1024.jpg?v=1513931798&amp;description=Boudin%20tenderloin" class=" btn--small btn--secondary btn--share share-pinterest" title="Pin on Pinterest">
                                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pinterest" viewBox="0 0 20 20">
                                                    <path fill="#444" d="M9.958.811q1.903 0 3.635.744t2.988 2 2 2.988.744 3.635q0 2.537-1.256 4.696t-3.415 3.415-4.696 1.256q-1.39 0-2.659-.366.707-1.147.951-2.025l.659-2.561q.244.463.903.817t1.39.354q1.464 0 2.622-.842t1.793-2.305.634-3.293q0-2.171-1.671-3.769t-4.257-1.598q-1.586 0-2.903.537T5.298 5.897 4.066 7.775t-.427 2.037q0 1.268.476 2.22t1.427 1.342q.171.073.293.012t.171-.232q.171-.61.195-.756.098-.268-.122-.512-.634-.707-.634-1.83 0-1.854 1.281-3.183t3.354-1.329q1.83 0 2.854 1t1.025 2.61q0 1.342-.366 2.476t-1.049 1.817-1.561.683q-.732 0-1.195-.537t-.293-1.269q.098-.342.256-.878t.268-.915.207-.817.098-.732q0-.61-.317-1t-.927-.39q-.756 0-1.269.695t-.512 1.744q0 .39.061.756t.134.537l.073.171q-1 4.342-1.22 5.098-.195.927-.146 2.171-2.513-1.122-4.062-3.44T.59 10.177q0-3.879 2.744-6.623T9.957.81z" /></svg>
                                                <span class="share-title hidden" aria-hidden="true">Pin it</span>
                                                <span class="visually- hidden ">Pin on Pinterest</span>
                                            </a>
                                            <a target="_blank" href="//twitter.com/share?text=Boudin%20tenderloin&amp;url=https://ss-furnicom.myshopify.com/products/boudin-tenderloin" class=" btn--small btn--secondary btn--share share-twitter" title="Tweet on Twitter">
                                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-twitter" viewBox="0 0 20 20">
                                                    <path fill="#444" d="M19.551 4.208q-.815 1.202-1.956 2.038 0 .082.02.255t.02.255q0 1.589-.469 3.179t-1.426 3.036-2.272 2.567-3.158 1.793-3.963.672q-3.301 0-6.031-1.773.571.041.937.041 2.751 0 4.911-1.671-1.284-.02-2.292-.784T2.456 11.85q.346.082.754.082.55 0 1.039-.163-1.365-.285-2.262-1.365T1.09 7.918v-.041q.774.408 1.773.448-.795-.53-1.263-1.396t-.469-1.864q0-1.019.509-1.997 1.487 1.854 3.596 2.924T9.81 7.184q-.143-.509-.143-.897 0-1.63 1.161-2.781t2.832-1.151q.815 0 1.569.326t1.284.917q1.345-.265 2.506-.958-.428 1.386-1.732 2.18 1.243-.163 2.262-.611z" /></svg>
                                                <span class="share-title hidden" aria-hidden="true">Tweet</span>
                                                <span class="visually- hidden">Tweet on Twitter</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="detail_category">
                                        <h2>Tags sản phẩm: </h2>
                                        <ul class="category_content">
                                            <li>
												<a href="" title="">đồ gỗ quang minh</a>
											</li>
											<li>
												<a href="" title="">tủ quần áo</a>
											</li>
											<li>
												<a href="" title="">sản phẩm phòng khách</a>
											</li>
											<li>
												<a href="" title="">tủ gỗ</a>
											</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="panel-group detail-bottom">
                                <div class="tab-vertical">
                                    <ul class="nav nav-tabs font-ct">
                                        <li class="active"><a href="#tabs1" data-toggle="tab">Mô Tả Sản Phẩm</a></li>
                                        <li><a href="#tabs2" data-toggle="tab">Chính Sách Mua Hàng</a></li>
                                        <li><a href="#tabs3" data-toggle="tab">Bảng Kích Thước</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="tabs1">
                                            <p>Curabitur egestas malesuada volutpat. Nunc vel vestibulum odio, ac pellentesque lacus. Pellentesque dapibus nunc nec est imperdiet, a malesuada sem rutrum. Sed quam odio, porta a finibus quis, sagittis aliquet leo. Nunc ornare metus urna, eu luctus velit placerat ut. Cras at porttitor lectus. Ut dapibus aliquam nibh, in imperdiet libero tincidunt sit amet. Morbi sodales fermentum nibh nec facilisis. Morbi pharetra varius velit, eget varius libero finibus quis. Quisque auctor varius lectus, lacinia rhoncus velit posuere vel. Cras condimentum tincidunt urna, sed vehicula ipsum dapibus et. Pellentesque pharetra ultrices varius. Sed viverra nec purus ut ornare.</p>
                                            <h3>Phasellus elementum:</h3>
                                            <ul>
                                                <li>Aenean auctor sem ac ex efficitur</li>
                                                <li>Non mattis odio bibendum</li>
                                                <li>Sed vitae enim at tortor finibus</li>
                                                <li>Integer facilisis eleifend vehicula</li>
                                                <li>In hac habitasse platea dictumst</li>
                                            </ul>
                                            <p>Sed molestie orci sem, at semper est molestie ac. Suspendisse cursus feugiat erat, eu posuere massa. Nullam posuere nibh non eros lobortis tempus. Maecenas dignissim elementum massa, vel accumsan urna elementum in. Suspendisse at dui euismod, rhoncus eros non, imperdiet ipsum. Vestibulum vehicula vel turpis et vestibulum. Ut porta et ex maximus malesuada.</p>
                                        </div>
                                        <div class="tab-pane" id="tabs2">
                                            <h4>Returns Policy</h4>
                                            <p>You may return most new, unopened items within 30 days of delivery for a full refund. We'll also pay the return shipping costs if the return is a result of our error (you received an incorrect or defective item, etc.).</p>
                                            <p>You should expect to receive your refund within four weeks of giving your package to the return shipper, however, in many cases you will receive a refund more quickly. This time period includes the transit time for us to receive your return from the shipper (5 to 10 business days), the time it takes us to process your return once we receive it (3 to 5 business days), and the time it takes your bank to process our refund request (5 to 10 business days).</p>
                                            <p>If you need to return an item, simply login to your account, view the order using the 'Complete Orders' link under the My Account menu and click the Return Item(s) button. We'll notify you via e-mail of your refund once we've received and processed the returned item.</p>
                                            <h4>Shipping</h4>
                                            <p>We can ship to virtually any address in the world. Note that there are restrictions on some products, and some products cannot be shipped to international destinations.</p>
                                            <p>When you place an order, we will estimate shipping and delivery dates for you based on the availability of your items and the shipping options you choose. Depending on the shipping provider you choose, shipping date estimates may appear on the shipping quotes page.</p>
                                            <p>Please also note that the shipping rates for many items we sell are weight-based. The weight of any such item can be found on its detail page. To reflect the policies of the shipping companies we use, all weights will be rounded up to the next full pound.</p>
                                        </div>
                                        <div class="tab-pane" id="tabs3">
											<%= image_tag '/quangminh/img/products/product-size-table.jpg', alt: '', class: 'product-size-table' %>                                            
                                        </div>                                        
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
		<section class="section-related">
			<div id="related" class="related-products">
				<div class="home-title">
					<h2><b>Sản Phẩm</b> Liên Quan</h2>
				</div>
				<div class="products-listing grid ss-carousel ss-owl">
					<div class="product-layout owl-carousel" data-nav="true" data-margin="30" data-lazyLoad="true" data-column1="4" data-column2="4" data-column3="4" data-column4="4" data-column5="2">
						<% (0..5).each do |product| %>
							<div class="">
								<div class="product-item">
									<div class="product-item-container grid-view-item   ">
										<div class="left-block">
											<div class="product-image-container product-image">
												<a class="grid-view-item__link image-ajax" href="<%= erp_quangminh.product_detail_path %>">
													<%= image_tag '/quangminh/img/products/product-270x270.jpg', alt: '', class: 'img-responsive' %>
													<span class="second-img hidden-sm hidden-xs">
														<%= image_tag '/quangminh/img/products/product-02-270x270.jpg', alt: '', class: 'img-responsive s-img' %>
													</span>
												</a>
												<div class="label-info">
													<span class="label-stock label label2  font-ct">Mới 2018</span>
												</div>
											</div>
											<span class="label-product label-sale">-10%</span>
											<span class="label-product label-new">Mới</span>
										</div>
										<div class="right-block">
											<div class="caption">
												<h4 class="title-product"><%= link_to 'Tủ thờ đứng', erp_quangminh.product_detail_path, title: '', class: 'product-name' %></h4>
												<div class="price">
													<span class="visually-hidden">Giá:</span>
													<span class="price-new">
														<span class='money'>1.500.000 VNĐ</span>
													</span>
													<span class="price-old">
														<span class="money">1.800.000 VNĐ</span>
													</span>
												</div>
											</div>
											<div class="button-link">
												<div class="btn-button add-to-cart action  ">
													<a class="btn-addToCart grl btn_df" href="erp_quangminh.product_detail_path" >
														<i class="fa fa-eye"></i>
														<span>Xem chi tiết sản phẩm</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>