<section id="breadcrumbs" class="breadcrumbbgimage" style="background: url(/quangminh/img/bg_breadcrumb.png)">
    <div class="breadcrumbwrapper">
        <div class="container">
            <div class="breadcrumbtitle"><h1><%= @category.get_self_name %></h1></div>
            <nav>
                <ol class="breadcrumb">
                    <li><%= link_to '<span>Trang Chủ</span>'.html_safe, erp_quangminh.root_path, title: '' %></li>
                    <li class="active"><span><span><%= @category.get_self_name %></span></span></li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sidebar sidebar-fixed col-lg-3 col-md-3">
            <span id="close-sidebar" class="btn-fixed hidden-md hidden-lg"><i class="fa fa-times"></i></span>
            <div class="content-section">
                <div class="block widget-filter yt-left-wrap clearfix">
                    <div id="layered-navigation">
                        <div class="block block-layered-nav">
                            <div class="block-title">
                                <strong><span>Bộ Lọc Sản Phẩm</span></strong>
                            </div>
                            <div class="block-content">
                                <dl id="narrow-by-list">
                                    <div class="widget widget-category">
                                        <dt class="category-filter">Chuyên mục liên quan</dt>
                                        <div class="widget-content">
                                            <ul class="toggle-menu list-menu">
                                                <li class="active">
                                                    <%= link_to 'Bàn tiếp khách <span class="count">(30)</span>'.html_safe, '', title: '' %>
                                                </li>
                                                <li>
                                                    <%= link_to 'Sofa - Salon gỗ <span class="count">(30)</span>'.html_safe, '', title: '' %>
                                                </li>
                                                <li>
                                                    <%= link_to 'Tủ gỗ <span class="count">(30)</span>'.html_safe, '', title: '' %>
                                                </li>
                                                <li>
                                                    <%= link_to 'Kệ tivi <span class="count">(30)</span>'.html_safe, '', title: '' %>
                                                </li>
                                                <li>
                                                    <%= link_to 'Tủ rượu <span class="count">(30)</span>'.html_safe, '', title: '' %>
                                                </li>
                                                <li>
                                                    <%= link_to 'Tủ cá nhân <span class="count">(30)</span>'.html_safe, '', title: '' %>
                                                </li>
                                                <li>
                                                    <%= link_to 'Tủ - Kệ giầy <span class="count">(30)</span>'.html_safe, '', title: '' %>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="filter-tags">
                                        <dt>
                                            <span class="category-filter">Chất liệu</span>
                                            <a href="javascript:void(0)" class="clear" style="display:none">Clear</a>
                                        </dt>
                                        <dd>
                                            <ol>
                                                <li>
                                                    <input type="checkbox" value="0" />
                                                    <label>Gỗ Chiêu Liêu</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="0" />
                                                    <label>Gỗ Xoan Đào</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="0" />
                                                    <label>Gỗ Xá Xị</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="0" />
                                                    <label>Gỗ Cao Su</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="0" />
                                                    <label>MDF</label>
                                                </li>
                                            </ol>
                                        </dd>                                        
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix clr clear"></div>
                <div class="block widget-prd-featured best-seller spaceBlock">
                    <h3 class="block-title">
                        <strong><span>Sản Phẩm Bán Chạy</span></strong>
                    </h3>
                    <div class="block-content wrap">
                        <% @products.each do |product| %>
                            <div class="product-item clearfix  on-sale">
                                <%= link_to image_tag('/quangminh/img/blog/blog-sidebar.jpg', alt: product.full_name),
                                            erp_quangminh.blog_detail_path, title: product.full_name, class: 'product-img' %>
                                <div class="product-info">
                                    <h4><%= link_to product.full_name, '', title: product.full_name, class: 'product-name' %></h4>
                                    <div class="price">
                                        <!-- snippet/product-price.liquid -->
                                        <span class="visually-hidden">Giá:</span>
                                        <span class="price-new">
                                            <span class='money'><%= format_price(product.price) %></span>
                                        </span>
                                        <span class="price-old">
                                            <span class='money'><%= format_price(product.price) %></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-overlay"></div>
        <div class="col-main col-lg-9 col-md-9">
            <div class="content-section">
                <div class="products-collection">
                    <div class="product-wrapper grid_3">
                        <div class="products-listing products-grid grid row  grid--view-itemss">
                            <% @products.each do |product| %>
                                <div class="product-layout grid__item grid__item--collection-template col-lg-4 col-md-4 col-sm-4 col-xxs-6 col-xs-12">
                                    <div class="product-item">
                                        <div class="product-item-container grid-view-item   ">
                                            <div class="left-block">
                                                <div class="product-image-container product-image">
                                                    <a class="grid-view-item__link image-ajax" href="<%= product_link(@category, product) %>" title="<%= product.full_name %>">
                                                        <%= image_tag '/quangminh/img/products/product-270x270.jpg', alt: product.full_name, class: 'img-responsive' %>
                                                    </a>
                                                    <% if product.is_new? %>
                                                        <div class="label-info">
                                                            <span class="label-stock label label2  font-ct">Mới 2018</span>
                                                        </div>
                                                    <% end %>
                                                </div>
                                                <% if product.is_sale? %>
                                                    <span class="label-product label-sale">-10%</span>
                                                <% end %>
                                                <% if product.is_bestseller? %>
                                                    <span class="label-product label-new">Bán chạy</span>
                                                <% end %>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4 class="title-product">
                                                        <%= link_to product.full_name, product_link(@category, product), title: product.full_name, class: 'product-name' %>
                                                    </h4>
                                                    <div class="price">
                                                        <span class="visually-hidden">Giá:</span>
                                                        <span class="price-new">
                                                            <span class='money'><%= format_price(product.price) %></span>
                                                        </span>
                                                        <span class="price-old">
                                                            <span class="money"><%= format_price(product.price) %></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="button-link">
                                                    <div class="btn-button add-to-cart action  ">
                                                        <a class="btn-addToCart grl btn_df" href="<%= product_link(@category, product) %>" >
                                                            <i class="fa fa-eye"></i>
                                                            <span>Xem chi tiết sản phẩm</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <div class="padding">
                            <div class="toolbar-bottom">
                                <ul class="pagination a-center">
                                    <li class="disabled"><span><i class="fa fa-angle-left"></i></span></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="" title="">2</a></li>
                                    <li><a href="" title="">3</a></li>
                                    <li><a href="" title="">4</a></li>
                                    <li class="next"><a href="" title=""><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>