<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("name") %>
                <th width='40%'><%= t('.name') %></th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th class="text-center"><%= t('creator') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="text-center"><%= t('created_at') %></th>
            <% end %>
            <th width="7%" class="sortable text-nowrap text-center" sort-by='erp_quangminh_blogs.custom_order'>
                <%= t('.custom_order') %>                
            </th>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @blogs.each do |blog| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: blog.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td><%= link_to blog.name, erp_quangminh.edit_backend_blog_path(blog), class: 'title' %></td>
                <% end %>                
                <% if get_columns(params).include?("creator") %>
                    <td class="text-center">
                        <%= erp_component('avatar', {
                            user: blog.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td class="text-center"><%= blog.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td class="text-center text-semibold">
                    <%= blog.custom_order %>
                    <% if params[:sort_by] == 'erp_quangminh_blogs.custom_order' %>
                        <a data-method="PUT"
                            href="<%=
                                params[:sort_direction] == 'asc' ?
                                erp_quangminh.move_up_backend_blogs_path(id: blog) :
                                erp_quangminh.move_down_backend_blogs_path(id: blog)
                            %>"
                            class="ajax-link">
                            <i class="fa fa-caret-square-o-up icon-big"></i>
                        </a>
                        <a data-method="PUT"
                            href="<%=
                                params[:sort_direction] == 'asc' ?
                                erp_quangminh.move_down_backend_blogs_path(id: blog) :
                                erp_quangminh.move_up_backend_blogs_path(id: blog)
                            %>"
                            class="ajax-link">
                            <i class="fa fa-caret-square-o-down icon-big"></i>
                        </a>
                    <% end %>
                </td>
                <td class="text-right">
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp_quangminh.edit_backend_blog_path(blog)
                            },
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_quangminh.backend_blog_path(blog),
                                data_method: 'DELETE',
                                class: 'ajax-link',
                                data_confirm: t('delete_confirm')
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @blogs.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>
        
<%= erp_datalist_pagination(@blogs) %>