<div class="content-section slider-section">
    <div class="widget-slideshow widget-slideshow1 no-margin">
        <div class="col-slider no-padding">
            <div class="tp-banner-container">
                <%= render "erp/quangminh/frontend/modules/home/slideshow" %>
            </div>
        </div>
    </div>
</div>

<div class="content-section home-section">
    <div class="home-banner-top">
        <div>
            <%= render "erp/quangminh/frontend/modules/home/banner_main" %>
        </div>
    </div>
</div>

<div class="content-section home-section">
    <div class="widget-product-carousel  mg10">
        <div class="container">
            <div class="widget-head">
                <div class="home-title">
                    <h2>Sản Phẩm Mới</h2>
                </div>
            </div>
            <div class="products-listing grid">
                <div class="product-layout block-content">
                    <%= render "erp/quangminh/frontend/modules/home/new_products" %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section home-section">
    <div style="background: url('/quangminh/img/banner/best-seller.png') no-repeat center; background-size: cover" class="widget-product-carousel ">
        <div class="container">
            <div class="row">
                <div class=" col-lg-6 col-md-8 col-sm-10 col-xs-12 pull-left">
                    <div class="widget-prd-featured ">
                        <div class="widget-head">
                            <div class="home-title">
                                <h2>Sản Phẩm Được Ưa Chuộng Nhất</h2>
                            </div>
                        </div>
                        <div class="products-listing grid">
                            <div class="product-layout block-content">            
                                <%= render "erp/quangminh/frontend/modules/home/best_seller" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section home-section">
    <div class="widget_multibanner">
        <%= render "erp/quangminh/frontend/modules/home/banner_sub_first" %>
    </div>
</div>

<div class="content-section home-section">
    <div class="widget-blog-slide ">
        <%= render "erp/quangminh/frontend/modules/home/lastest_news" %>
    </div>
</div>