<div class="footer-bottom ">
    <div class="container">
        <div class="footer-about_wrap">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item-1">
                    <div class="app">
                        <h3 class="app-title">Tải Ứng Dụng</h3>
                        <%= link_to image_tag('/quangminh/img/app-store.png', alt: '', class: 'img-payment'), '', title: '' %>
                        <%= link_to image_tag('/quangminh/img/google-play.png', alt: '', class: 'img-payment'), '', title: '' %>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item-1">
                    <div class="socials-wraps">
                        <h3 class="social-title">Theo Dõi Chúng Tôi</h3>
                        <ul>
                            <li class="facebook">
                                <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, '', title: '', target: '_blank' %>
                            </li>
                            <li class="twitter">
                                <%= link_to '<i class="fa fa-twitter"></i>'.html_safe, '', title: '', target: '_blank' %>
                            </li>
                            <li class="youtube">
                                <%= link_to '<i class="fa fa-youtube"></i>'.html_safe, '', title: '', target: '_blank' %>    
                            </li>
                            <li class="google_plus">
                                <%= link_to '<i class="fa fa-google-plus"></i>'.html_safe, '', title: '', target: '_blank' %>
                            </li>
                            <li class="pinterest">
                                <%= link_to '<i class="fa fa-pinterest"></i>'.html_safe, '', title: '', target: '_blank' %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 copyright a-center">
                <address>&copy; Copyright 2019  <%= link_to 'Đồ Gỗ Việt Quang Minh', erp_quangminh.root_path, title: 'Đồ Gỗ Việt Quang Minh', target: '_blank' %>. All Rights Reserved.</address>
            </div>
        </div>
    </div>
</div>