<div class="footer-center">
    <div class="container">
        <div class="footer-wrapper row">            
            <div class="footer-menu col-lg-3 col-md-3 col-sm-6">
                <div class="footer-block">
                    <h3 class="footer-block-title">Dành Cho Khách Hàng</h3>
                    <ul class="footer-block-content">
                        <li><%= link_to 'Hướng Dẫn Mua Hàng', '', title: '' %></li>
                        <li><%= link_to 'Phương Thức Thanh Toán', '', title: '' %></li>
                        <li><%= link_to 'Cách Thức Giao Nhận', '', title: '' %></li>
                        <li><%= link_to 'Chính Sách Đổi Trả Hàng', '', title: '' %></li>
                        <li><%= link_to 'Câu Hỏi Thường Gặp', '', title: '' %></li>
                    </ul>
                </div>
            </div>
            <div class="footer-menu col-lg-3 col-md-3 col-sm-6 ft-item ft-2">
                <div class="footer-block">
                    <h3 class="footer-block-title">Liên Kết Nhanh</h3>
                    <ul class="footer-block-content">
                        <li><%= link_to 'Nội Thất Phòng Khách', '', title: '' %></li>
                        <li><%= link_to 'Nội Thất Nhà Bếp', '', title: '' %></li>
                        <li><%= link_to 'Nội Thất Phòng Ngủ', '', title: '' %></li>
                        <li><%= link_to 'Nội Thất Phòng Thờ', '', title: '' %></li>
                        <li><%= link_to 'Tư Vấn & Thiết Kế', '', title: '' %></li>
                    </ul>
                </div>
            </div>
            <div class="footer-menu col-lg-3 col-md-3 col-sm-6 ft-item ft-3">
                <div class="footer-block">
                    <h3 class="footer-block-title">Quang Minh 98</h3>
                    <ul class="footer-block-content">
                        <li><%= link_to 'Giới Thiệu', erp_quangminh.about_us_path, title: '' %></li>
                        <li><%= link_to 'Liên Hệ', erp_quangminh.contact_us_path, title: '' %></li>                        
                        <li><%= link_to 'Tin Tức', erp_quangminh.blog_listing_path, title: '' %></li>
                        <li><%= link_to 'Chính Sách Bảo Mật', '', title: '' %></li>
                        <li><%= link_to 'Sơ Đồ Trang Web', '', title: '' %></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 ft-a ft-item ft-3">
                <div class="footer-about footer-block">
                    <h3 class="footer-block-title">THÔNG TIN LIÊN HỆ</h3>
                    <ul>
                        <li class="address">
                            <i class="fa fa-map-marker"></i>
                            <span>98 Trường Chinh, Phường 12, Quận Tân Bình, TP. Hồ Chí Minh</span>
                        </li>
                        <li class="phone">
                            <%= link_to '<i class="fa fa-mobile"></i><span>(028) 3842 0297</span>'.html_safe, 'tel:02838420297', title: '' %>
                        </li>
                        <li class="email">
                            <%= mail_to 'quangminh98@gmail.com', '<i class="fa fa-envelope"></i><span>quangminh98@gmail.com</span>'.html_safe, title: '' %>
                        </li>
                    </ul>
                    <div class="inner_payment">
                        <%= link_to image_tag('/quangminh/img/payment.png', alt: '', class: 'img-payment'), '', title: '' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="goToTop" class="hidden-xs"><span></span></div>
</div>