<div class="footer-center">
    <div class="container">
        <div class="footer-wrapper row">            
            <div class="footer-menu col-lg-3 col-md-3 col-sm-6">
                <div class="footer-block">
                    <h3 class="footer-block-title">Dành Cho Khách Hàng</h3>
                    <ul class="footer-block-content">
                        <li><%= link_to 'Hướng Dẫn Mua Hàng', erp_quangminh.shopping_guide_path, title: 'Hướng dẫn mua hàng' %></li>
                        <li><%= link_to 'Phương Thức Thanh Toán', erp_quangminh.payment_method_path, title: 'Phương thức thanh toán' %></li>
                        <li><%= link_to 'Cách Thức Giao Nhận', erp_quangminh.delivery_method_path, title: 'Cách thức giao nhận' %></li>
                        <li><%= link_to 'Chính Sách Đổi Trả', erp_quangminh.return_policy_path, title: 'Chính sách đổi trả' %></li>
                        <li><%= link_to 'Chính Sách Bảo Mật', erp_quangminh.privacy_policy_path, title: 'Chính sách bảo mật' %></li>                                            
                    </ul>
                </div>
            </div>
            <div class="footer-menu col-lg-3 col-md-3 col-sm-6 ft-item ft-2">
                <div class="footer-block">
                    <h3 class="footer-block-title">Liên Kết Nhanh</h3>
                    <ul class="footer-block-content">
                        <li><%= link_to 'Nội Thất Phòng Khách', '', title: '' %></li>
                        <li><%= link_to 'Nội Thất Nhà Bếp', '', title: '' %></li>
                        <li><%= link_to 'Nội Thất Phòng Ngủ', '', title: '' %></li>
                        <li><%= link_to 'Nội Thất Phòng Thờ', '', title: '' %></li>
                        <li><%= link_to 'Tư Vấn & Thiết Kế', '', title: '' %></li>
                    </ul>
                </div>
            </div>
            <div class="footer-menu col-lg-3 col-md-3 col-sm-6 ft-item ft-3">
                <div class="footer-block">
                    <h3 class="footer-block-title">Đồ Gỗ Việt Quang Minh</h3>
                    <ul class="footer-block-content">
                        <li><%= link_to 'Giới Thiệu', erp_quangminh.about_us_path, title: 'Giới thiệu' %></li>
                        <li><%= link_to 'Liên Hệ', erp_quangminh.contact_us_path, title: 'Liên hệ' %></li>                        
                        <li><%= link_to 'Tin Tức', erp_quangminh.blog_listing_path, title: 'Tin tức' %></li>
                        <li><%= link_to 'Câu Hỏi Thường Gặp', erp_quangminh.faqs_path, title: 'Câu hỏi thường gặp' %></li>                        
                        <li><%= link_to 'Sơ Đồ Trang Web', '', title: 'Sơ đồ trang web' %></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 ft-a ft-item ft-3">
                <div class="footer-about footer-block">
                    <h3 class="footer-block-title">THÔNG TIN LIÊN HỆ</h3>
                    <ul>
                        <li class="address">
                            <i class="fa fa-map-marker"></i>
                            <span>98 Trường Chinh, Phường 12, Quận Tân Bình, TP. Hồ Chí Minh</span>
                        </li>
                        <li class="phone">
                            <%= link_to '<i class="fa fa-mobile"></i><span>096 742 0297 (Ms. Nhung)</span>'.html_safe, 'tel:096 742 0297', title: '' %>
                        </li>
                        <li class="email">
                            <%= mail_to 'dogovietquangminh@gmail.com', '<i class="fa fa-envelope"></i><span>dogovietquangminh@gmail.com</span>'.html_safe, title: '' %>
                        </li>
                    </ul>
                    <div class="inner_payment">
                        <%= link_to image_tag('/quangminh/img/dogovietquangminh-white.svg', alt: '', class: 'img-payment'), '', title: '' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="goToTop" class="hidden-xs"><span></span></div>
</div>