<%= form_for([erp_quangminh, :backend, blog_category]) do |f| %>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6">
                            <%= erp_form_control("text", {
                                name: 'blog_category[name]',
                                value: blog_category.name,                   
                                label: t('.name'),
                                placeholder: t('.placeholder_name'),
                                required: true,
                                errors: blog_category.errors.full_messages_for(:name)
                            }) %>
                            <%= erp_form_control("dataselect", {
                                name: 'blog_category[parent_id]',
                                value: blog_category.parent_id,
                                text: blog_category.parent_name,
                                placeholder: t('.choose_parent_category'),
                                label: t('.parent_category'),
                                url: erp_quangminh.dataselect_backend_blog_categories_path(format: 'json'),
                                create: {
                                    url: erp_quangminh.new_backend_blog_category_path,
                                    title: t('.create'),
                                    container_selector: '.new_blog_category',
                                    input_selector: 'input[name="blog_category[name]"]'
                                }
                            }) %>                            
                        </div>
                        <div class="col-md-6">
                            <%= erp_form_control("textarea", {
                                name: 'blog_category[description]',
                                value: blog_category.description,
                                label: t('.description'),
                                placeholder: t('.placeholder_description'),
                                rows: 5
                            }) %>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_quangminh.backend_blog_categories_path
    }) %>
<% end %>