<% content_for :title do %>
    <%= @product_material.name %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_quangminh.backend_product_materials_path %>">
    <i class="fa fa-th"></i> <%= t('.product_materials') %>
    </a> / <%= @product_material.name %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_quangminh.new_backend_product_material_path,
        class: 'btn-noborder'
    }) %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <% if @product_material.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <%= render 'form', product_material: @product_material %>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>