<!doctype html>
<!--[if IE 9]><html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=1">
    <%= favicon_link_tag '/quangminh/img/favicon.svg', rel: 'shortcut icon' %>
    <title>Trang Chủ - Nội Thất Quang Minh</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    
    <!-- Fonts -->
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Work+Sans:400,700' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Work+Sans:600' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Yellowtail' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic,cyrillic-ext,latin-ext' %>
    <%= stylesheet_link_tag '/quangminh/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag '/quangminh/css/simple-line-icons.css' %>
    <%= stylesheet_link_tag '/quangminh/css/material-design-iconic-font.min.css' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,500,700,900' %>
    
    <!-- Stylesheets -->
    <%= stylesheet_link_tag '/quangminh/css/theme.scss.css' %>
    <%= stylesheet_link_tag '/quangminh/css/style-theme.scss.css' %>
    <%= stylesheet_link_tag '/quangminh/css/style-sections.scss.css' %>
    <%= stylesheet_link_tag '/quangminh/css/style-config.scss.css' %>
    <%= stylesheet_link_tag '/quangminh/css/style-respon.scss.css' %>
    <%= stylesheet_link_tag '/quangminh/css/animate.css' %>
    <%= stylesheet_link_tag '/quangminh/css/owl.carousel.min.css' %>
    
    <!-- Javascripts -->
    <%= javascript_include_tag '/quangminh/js/jquery.min.js' %>
    <%= javascript_include_tag '/quangminh/js/custom.js' %>
    <%= javascript_include_tag '/quangminh/js/jquery-cookie.min.js' %>
    <%= javascript_include_tag '/quangminh/js/api-jquery.js' %>
    <%= javascript_include_tag '/quangminh/js/libs.js' %>
    <%= javascript_include_tag '/quangminh/js/bootstrap.min.js' %>
    <%= javascript_include_tag '/quangminh/js/jquery.elevateZoom.min.js' %>
    <%= javascript_include_tag '/quangminh/js/jquery.nav.js' %>
    <%= javascript_include_tag '/quangminh/js/bootstrap-notify.min.js' %>
    <%= javascript_include_tag '/quangminh/js/wish-list.js' %>
    
    <!--[if (lte IE 9) ]>
        <%= javascript_include_tag '/quangminh/js/match-media.min.js' %>
    <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!-->
        <script src="/quangminh/js/theme.js" defer="defer"></script>
    <!--<![endif]-->
    <!--[if lte IE 9]>
        <%= javascript_include_tag '/quangminh/js/theme.js' %>
    <![endif]-->    
    
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">
    
    <%= stylesheet_link_tag '/quangminh/css/styles.css' %>
    <%= stylesheet_link_tag '/quangminh/css/custom.css' %>
    <%= javascript_include_tag '/quangminh/js/option-selection.js' %>
    <%= javascript_include_tag '/quangminh/js/features.js' %>
    <%= javascript_include_tag '/quangminh/js/preview-bar-injector.js' %>
    <%= javascript_include_tag '/quangminh/js/scripts.js',data: {sections: 'homepage-slider,home-banner-top,homepage-tab-products,home-recent-product,ss-tools,ss-facebook-message,ss-category-cowdown'} , id: 'sections-script' %>
</head>

<body class="<%= @body_style %>">
    <div id="wrapper" class="page-wrapper wrapper-full effect_12">
        <!-- Loading Site -->
        <%= render "erp/quangminh/frontend/modules/loading_site" %>
        
        <!-- HEADER -->
        <%= render "erp/quangminh/frontend/modules/header" %>
        <!-- END HEADER -->
        
        <div class="page-container" id="PageContainer">
            <div class="main-content" id="MainContent">
                <!-- CONTENT -->
                <%= yield %>
                <!-- END CONTENT -->
            </div>
            <div id="section-footer">
                <%= render "erp/quangminh/frontend/modules/footer" %>
            </div>
            <div id="section-tools">
                <%= render "erp/quangminh/frontend/modules/tools" %>
            </div>
        </div>
        
        <%= render "erp/quangminh/frontend/modules/popup/add_to_cart" %>
                          
        <%= javascript_include_tag '/quangminh/js/owl.carousel.min.js' %>
        
        <% if params[:controller] == "erp/quangminh/frontend/home" && params[:action] == "index" %>
            <%= render "erp/quangminh/frontend/modules/home/js_slideshow" %>
        <% end %>
        <% if params[:controller] == "erp/quangminh/frontend/product" && params[:action] == "detail" %>
            <%= render "erp/quangminh/frontend/modules/product/js_image" %>
        <% end %>
    </div>
</body>
</html>